#Files due to the code at hand
Our_code/outputdir_train_classifier_0d25/
Our_code/outputdir_train_classifier_decay_0d018_label_0d10/
Our_code/outputdir_train_classifier_decay_0d025_label_0d1/
Our_code/outputdir_train_classifier_decay_0d025_label_0d10/
Our_code/outputdir_train_classifier_decay_0d025_label_0d15/
Our_code/outputdir_train_classifier_decay_0d025_label_0d20/
Our_code/outputdir_train_classifier_decay_0d025_label_0d25/
Our_code/outputdir_train_classifier_decay_0d025_label_0d30/
Our_code/outputdir_train_classifier_decay_0d05_label_0d10/
Our_code/outputdir_train_classifier_decay_0d05_label_0d15/
Our_code/outputdir_train_classifier_decay_0d05_label_0d20/
Our_code/outputdir_train_classifier_decay_0d05_label_0d25/
Our_code/outputdir_train_classifier_decay_0d05_label_0d3/
Gans_teste/outputdir_train_classifier_lotufo_final/

Experiments/datasets

Experiments/outputdir_train_classifier_0d10
Experiments/outputdir_train_classifier_bigger





Gans_teste/outputdir_train_classifier_bigger/
Gans_teste/outputdir_train_classifier_teste2/
Tutorial_2/faces
Tutorial_2/dataset
Our_code/outputdir_train_sobrescreve/
Our_code/outputdir_train_classifier
Our_code/outputdir_train_classifier_teste2/
Tutorial_2/gallery-dl
datasets/
Tutorial_2/images

Tutorial_2/outputdir
Tutorial_2/outputdir_less

Tutorial_2/outputdir_parallel

Tutorial_2/outputdir_train
Tutorial_2/outputdir_train_2
Tutorial_2/outputdir_train_notebook
Tutorial_2/outputdir_train_new
Tutorial_2/outputdir_train_sobrescreve

Our_code/outputdir_train_classifier_lotufo/
Our_code/outputdir_train_classifier_review/






# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
